{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "unused-imports",
    "jest"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/jsx-curly-brace-presence": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-floating-promises": [
      "error",
      {
        "ignoreVoid": true
      }
    ],
    "@typescript-eslint/no-unsafe-call": "off",
    "max-len": [
      "error",
      {
        "code": 121,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "no-param-reassign": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "class-methods-use-this": "off",
    "no-void": [
      "error",
      {
        "allowAsStatement": true
      }
    ],
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "max-classes-per-file": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "unused-imports/no-unused-imports": "error",
    "jest/no-conditional-expect": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": "off",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unstable-nested-components": [
      "error",
      {
        "allowAsProps": true
      }
    ],
    "eqeqeq": "error",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "react/no-danger": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-no-constructed-context-values": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "no-plusplus": "off",
    "jsx-a11y/control-has-associated-label": "off"
  }
}
